@import '@/styles/common/variable.scss';

.h {
  &__home {
    display: flex;
    flex-direction: column;
    width: max-content;
    border-radius: 50px;
    background-color: $bg-lightblue;
    box-shadow: $shadow-l;
    margin: 150px 0 80px;

    &__header {
      position: relative;
      display: flex;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      gap: 30px;
      padding: 25px 0;
      border-bottom: 1px solid $border;

      &--logo {
        width: 150px;
        height: auto;
        margin-bottom: 15px;
        margin-right: 100px;
      }

      &--title {
        // margin-top: 20px;
        font-size: 28px;
      }

      &--content {
        display: flex;
        gap: 30px;
        margin-left: 100px;
      }

      &--status {
        margin-top: 30px;

        span {
          font-weight: bold;
          font-size: 14px;
        }

        .wrap {
          display: flex;
          flex-direction: column;
          gap: 8px;
          margin-top: 10px;

          div::before {
            content: '-';
            margin-right: 4px;
          }
        }
      }

      &--notice {
        margin-top: 30px;

        dt {
          margin-bottom: 10px;
          font-weight: bold;
          font-size: 14px;
          // text-align: center;
        }
        dd {
          &:not(:first-child) {
            margin-top: 4px;
          }

          &::before {
            content: '-';
            margin-right: 4px;
          }
        }
      }

      &--week {
        position: absolute;
        top: -90px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &--date {
          padding: 10px 20px;
          border-radius: 10px;
          font-weight: bold;
          font-size: 20px;
          background-color: $bg-lightblue;
        }

        .btns {
          display: flex;
          justify-content: center;
          gap: 15px;
        }

        &--button {
          display: flex;
          align-items: center;
          padding: 5px 10px;
          border-radius: 5px;
          font-weight: bold;
          background-color: $bg-lightblue;
          cursor: pointer;

          &:first-child {
            &::before {
              content: '';
              display: inline-block;
              width: 10px;
              height: 10px;
              margin-right: 4px;
              vertical-align: middle;
              background: url('../../../assets/icons/icon_prev.svg') no-repeat center center;
            }
          }

          &:last-child {
            &::after {
              content: '';
              display: inline-block;
              width: 10px;
              height: 10px;
              margin-left: 4px;
              vertical-align: middle;
              background: url('../../../assets/icons/icon_next.svg') no-repeat center center;
            }
          }
        }
      }
    }

    &__content {
      position: relative;
      width: 100%;
      padding: 50px;

      &--footer {
        position: absolute;
        bottom: 0;
        left: 50%;
        font-weight: bold;
        color: $white;
        transform: translate(-50%, 30px);
      }
    }
  }

  &__dim {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    &--loading {
      width: 50px;
      height: 50px;
      border: 5px solid transparent;
      border-top-color: $white;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    &--error {
      display: flex;
      flex-direction: column;
      gap: 20px;

      span {
        font-weight: bold;
        font-size: 16px;
        color: $white;
      }

      button {
        padding: 5px 10px;
        border: 2px solid $bg-blue;
        border-radius: 50px;
        font-weight: bold;
        color: $black;
        background-color: $white;
        box-shadow:
          20px 20px 60px #bebebe,
          -20px -20px 60px #ffffff;
        cursor: pointer;

        transition: all 0.4s;

        &:hover {
          color: $white;
          background-color: $bg-blue;
          box-shadow: none;
          transition: all 0.4s;
        }
      }
    }
  }
}
