@import '@/styles/common/variable.scss';

.h {
  &__home {
    position: relative;
    top: 50%;
    display: flex;
    width: max-content;
    margin: 0 100px;
    border-radius: 50px;
    background-color: $bg-lightblue;
    box-shadow: $shadow-l;
    transform: translate(0, -50%);

    &__header {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      justify-content: center;
      align-items: center;
      padding: 50px 25px;
      border-right: 1px solid $border;

      &--logo {
        width: 150px;
        height: auto;
      }

      &--title {
        margin-top: 20px;
        font-size: 28px;
      }

      &--date {
        margin-top: 15px;
        font-size: 14px;
      }

      &--status {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 20px;

        span {
          font-weight: bold;
          font-size: 14px;
        }
      }

      &--notice {
        margin-top: 20px;

        dt {
          margin-bottom: 10px;
          font-weight: bold;
          font-size: 14px;
          text-align: center;
        }
        dd {
          &:not(:first-child) {
            margin-top: 4px;
          }

          &::before {
            content: '-';
            margin-right: 4px;
          }
        }
      }
    }

    &__content {
      width: 100%;
      padding: 50px;
    }

    &__footer {
      position: absolute;
      bottom: 0;
      left: 50%;
      font-weight: bold;
      color: $white;
      transform: translate(-50%, 30px);
    }
  }

  &__dim {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    &--loading {
      width: 50px;
      height: 50px;
      border: 5px solid transparent;
      border-top-color: $white;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }

    &--error {
      display: flex;
      flex-direction: column;
      gap: 20px;

      span {
        font-weight: bold;
        font-size: 16px;
        color: $white;
      }

      button {
        padding: 5px 10px;
        border: 2px solid $bg-blue;
        border-radius: 50px;
        font-weight: bold;
        color: $black;
        background-color: $white;
        box-shadow:
          20px 20px 60px #bebebe,
          -20px -20px 60px #ffffff;
        cursor: pointer;

        transition: all 0.4s;

        &:hover {
          color: $white;
          background-color: $bg-blue;
          box-shadow: none;
          transition: all 0.4s;
        }
      }
    }
  }
}
